@model IEnumerable<Agency.WebApp.Models.Article>

<head>
    <link rel="stylesheet" href="~/css/article.css" />
</head>

<style>
    .centered {
        text-align: center;
    }
</style>

<body>
    <div>

        <h2 class="centered"> Добро пожаловать в Sparkle — ваше решение для яркой рекламы!</h2>

        <h4 class="centered">
                В мире, где каждая идея требует внимания, мы знаем, как помочь вашему бизнесу сиять! Sparkle — это рекламное агентство, которое принимает на себя обязательства не только создать яркий визуальный образ вашего бренда, но и обеспечить его эффективность на рынке.
            </h4>

        <h3 class="centered">Почему выбирают нас?</h3>

            <ul>
                <li>
                    Индивидуальный подход: Мы понимаем, что каждый бизнес уникален. Наши эксперты создадут стратегию, которая будет отвечать вашим целям и потребностям.
                </li>
                <li>
                    Креативные решения: Команда талантливых дизайнеров и копирайтеров воплотит в жизнь самые смелые идеи, чтобы ваша реклама запомнилась и привлекала внимание
                </li>
                <li>
                    Аналитика и результаты: Мы используем современные инструменты аналитики, чтобы отслеживать эффективность рекламных кампаний и постоянно улучшать результаты.
                </li>
                <li>
                    Все услуги под одной крышей: От создания логотипа до управления социальными сетями — мы предоставляем полный спектр услуг, чтобы вы могли сосредоточиться на ведении своего бизнеса.</h3>
            </ul>

            <h4>Что мы предлагаем?</h4>

            <ul>
                <li>
                    Рекламные кампании в интернете
                </li>
                <li>
                    Социальные медиа и контент-маркетинг
                </li>
                <li>
                    Дизайн и брендинг
                </li>
                <li>
                    Печать и наружная реклама
                </li>
                <li>
                    SEO и SMM
                </li>
            </ul>

            <h4>Каждая успешная рекламная кампания начинается с простой идеи. Давайте вместе зажжем яркий свет для вашего бизнеса! Мы готовы к сотрудничеству и с удовольствием обсудим все ваши пожелания.</h4>

            <h2 text-align: center>Наши новинки</h2>
    
    
    </div>

    <div class="news-container">
        @foreach (var item in Model)
        {
            <div class="news-item">
                <h3>@Html.DisplayFor(modelItem => item.title)</h3>
                <p>@Html.DisplayFor(modelItem => item.descriptions)</p>
                <p>@Html.DisplayFor(modelItem => item.datetime)</p>
            </div>
        }

        
    </div>
</body>






