html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: beige;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; 
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

    .footer-links li {
        display: inline;
        margin: 0 10px;
    }

    .footer-links a {
        color: white;
        text-decoration: none;
    }

        .footer-links a:hover {
            text-decoration: underline;
        }

.hidden {
    display: none; 
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между блоками */
    justify-content: space-between; /* Разделяет блоки по всей ширине */
    margin: 0 auto; /* Центрирует контейнер */
    max-width: 1200px; /* Ограничивает максимальную ширину контейнера */
}

.news-item {
    flex: 1 1 30%; /* Блоки занимают 30% ширины */
    box-sizing: border-box; /* Учитывает паддинги и бордеры в размере элемента */
    padding: 20px;
    border: 1px solid #ddd; /* Добавляет рамку */
    border-radius: 8px; /* Скругляет углы */
    background-color: #f9f9f9; /* Легкий фон */
}